.bashrc
.directory
.env
.gcloudignore
.git
.gitignore
.vscode
.DS_Store
*.py[cod]
*.sqlite3
*.xlsx
__pycache__/
/cli
/instance/settings.py
/notebooks
/rest-client
/tests
/venv
/pyproject.toml
/setup.py
