.bashrc
.directory
.env
.gcloudignore
.git
.github
.gitignore
.vscode
.DS_Store

*.py[cod]
*.sqlite3
*.xlsx

__pycache__/
/instance/settings.py
/pyproject.toml
/tests
/venv

/cli
/notebooks
/plataforma_web.egg-info
/rest-client
/setup.py
