black
fastapi
fastapi-pagination[sqlalchemy]
gunicorn
hashids
httptools
passlib[bcrypt]
psycopg2-binary
pydantic
pylint
pylint-sqlalchemy
python-jose[cryptography]
python-multipart
SQLAlchemy
SQLAlchemy-Utils
Unidecode
uvicorn[gunicorn]
