black
fastapi
fastapi-pagination[sqlalchemy]
gunicorn
httptools
passlib[bcrypt]
psycopg2-binary
pydantic
pylint
pylint-sqlalchemy
PyMySQL
python-dotenv
python-jose[cryptography]
python-multipart
requests
SQLAlchemy
SQLAlchemy-Utils
Unidecode
uvicorn
uvloop
